{% extends "blog/base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<h1 class="text-center">About Us</h1>
<p  class="mt-4">
    Welcome to our news blog! We bring you the latest headlines, trending topics, and breaking news from around the world.
    Our mission is to keep you informed with accurate and reliable news coverage.
</p>
<p>
    Feel free to explore our website and stay updated on what's happening globally!
</p>
<a href="/" class="btn btn-primary mt-3">Back to Home</a>
{% endblock %}
